@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/

/*Grijs #899CA0 en donkergroen #1C2B32*/

/*////////////////////////
    1. Global Styles
////////////////////////*/
/* CSS reset zodat evt browser styling wordt gereset naar ingevulde waarde op alle items dmv * wildcard */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.btn {
    background-color: #1C2B32;
    padding: 15px;
    color: white;
   }

/*////////////////////////
    2. Typography
////////////////////////*/
body {
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: #1C2B32;
    font-weight: 600;
}

a {
    color: #899CA0;
}

a:hover {
    text-decoration: none;
}


/*////////////////////////
    3. Areas
////////////////////////*/



/*///////////// 3.1 Header /////////////*/

header {
    background-image: url("../assets/images/mountains.jpg");
    background-size: auto;
    background-position: center;
}

.header-items {
    margin: 0 auto;
    max-width: 1000px;
}

header h1 {
    font-size: 3.5rem;
    line-height: 1.2;
    padding-top:50px;
}

header h2 {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.2;
    margin-top: 25px;
    margin-bottom: 25px;
}

header input {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border: 3px solid #1C2B32;
    margin-right: -10px;
    padding: 15px 60px 15px 20px;
    background-color: transparent;
}

header input::placeholder {
    color: #1C2B32;
    font-weight: 600;
}

header button {
    background-color: #1C2B32;
    padding: 15px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    color: white;
    border: solid 3px #1C2B32;
    margin-bottom: 300px;
}



/*///////////// 3.2 Testimonial /////////////*/
main{
    max-width: 1000px;
    margin: 0 auto;
}

section h3 {
font-size: 20px;
    line-height: 1.2;

    margin-top:50px;
    margin-bottom:50px;
}

.testimonial blockquote {
  background-color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    color: black;
    padding: 80px 200px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    font-size: 12px;
    position: relative;
}

.testimonial blockquote + blockquote {
    margin-top: 35px;
}

.pic-author-name {
    position: absolute;
    bottom: 10px;
    left:30%;
    display: flex;


}

.pic-author-name img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 20px;
    bottom:8px;
    left: -75px;
    position: absolute;

}

    .quote {
        width: 30px;
        height: 30px;
    }

    /*///////////// 3.3 Support /////////////*/

    section img {
        width: 100%;
        border-radius: 10px
    }

    section p {
        font-size: 13px;
        font-weight: 400;
        line-height: 1.2;
        margin-top: 25px;
        margin-bottom: 25px;
        text-align: left;
    }

    .button2 {
        border-radius: 20px;
        border-style: solid;
        border-color: #1C2B32;
        padding: 10px 20px;
        display: block;
    }


    /*///////////// 3.4 Faq /////////////*/

    .q-and-a summary {
        font-size: 15px;
        font-weight: 600;
        line-height: 1.2;
        margin-top: 25px;
        margin-bottom: 25px;
        text-align: left;
        cursor: pointer;
    }

    .q-and-a p {
        background-color: #899CA0;
        color: white;
        padding: 20px;
        border-radius: 10px;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.5;

    }

    /*///////////// 3.5 Footer /////////////*/

    #footer {
        background-color: #1C2B32;
        color: white;
        font-weight: lighter;
        font-size: small;
        padding: 25px 0px;
        text-align: center;
    }
